<div class="sobre">

    <div class="sobre-wrapper">
        <img src="~/img/eu.png" class="fornecedores-imagem" alt="">

        <p>
            Me chamo Christopher e amo C#, ja programo em c# a cerca de 1 ano e meio,
            momento em que comecei a faculdade e desde sempre eu amei a linguagem,
            porém comecei a ir atrás de aprender .NET recentemente ( principalmente ASP.NET e Blazor),
            antes disso estudei principalmente a base da programação como o SOLID, Orientação a objetos e estruturas de dados
            através do Windows Forms e aplicações console, reconheço que comecei a ir mais atrás dos conteúdos que a faculdade
            não ensina um pouco tarde, porém acho que com o tempo tudo se ajeita, e busco um estágio principalmente para poder
            aprender mais sobre esse mundo do .NET e colocar em prática o que eu for aprendendo ao longo desse caminho, obrigado pela oportunidade de realizar este teste <3.
        </p>
    </div></>
    



</div>